
.container
    mat-card.card
        mat-card-title(i18n='Notifies the user about the loading of the application is in progress@@label_initialize_app') Initializing application, please wait...
        mat-card-content
            mat-progress-bar(mode='indeterminate')
