mat-card.login-card
    mat-toolbar.login-card-header(color="primary") Please log in
    mat-card-content 
        form.login-form([formGroup]="loginForm", (ngSubmit)="onSubmit()")
            mat-form-field.full-width
                input(matInput, placeholder="E-mail address", formControlName="email")
                mat-error(*ngIf="email.hasError('email') && !email.hasError('required')") 
                    | Please enter a valid email address
                mat-error(*ngIf="email.hasError('required')") Email is 
                        strong required
            mat-form-field.full-width
                input(matInput, placeholder="Password", type="password", formControlName="password")
                mat-error(*ngIf="password.hasError('required')") Password is 
                        strong required
            button(mat-raised-button, color="primary", type="submit") Login
